

<!-- CREATE TABLE contact_form (
    contact_id INT AUTO_INCREMENT PRIMARY KEY,
    name VARCHAR(255) NOT NULL,
    email VARCHAR(255) NOT NULL,
    subject VARCHAR(255),
    message TEXT NOT NULL
); -->



<%-include("navbar.ejs"); %>
<div class="row">
    <div class="col-12">


<table class="table table-striped">
    <thead>
        <tr>
            <th> Contact Id</th>
            <th>Contact Name</th>
            <th>Contact Email</th>
            <th>Subject </th>
            <th>Message</th> 
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <% contact.map(function(row,i){ %>
        <tr>
            <td><%= i+1 %></td>
            <td><%= row.name%></td>
            <td><%= row.email%></td>
            <td><%= row.subject%></td>
            <td><%= row.message %></td>  
           <td> <a href="/admin/contact_delete/<%= row.contact_id %>" class="btn btn-danger" 
                onclick="return confirm('Are you sure you want to delete this record?');">
                Delete
             </a>
         </td>   
        </tr>
        <td>
  
           
        <% }) %>
    </tbody>
</table>
</div>
</div>
<%-include("footer.ejs"); %>

