<%- include("navbar.ejs"); %>

<div class="container">
    <h1 class="h3 mb-3"><strong>Edit</strong> Contact Details</h1>,
    
    <form action="/admin/contact_details/<%= contact_info.id %>" method="post" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="contact_image" class="form-label">Contact Image</label><br>

            <% if (contact_info.contact_image) { %>
                <img src="/admin_assets/contact/<%= contact_info.contact_image %>" alt="Contact Image" width="150">
            <% } %>

            <input type="file" class="form-control mt-2" name="contact_image">
        </div>

        <div class="mb-3">
            <label for="contact_description" class="form-label">Contact Description</label>
            <textarea class="form-control" name="contact_description" rows="5" required><%= contact_info.contact_description %></textarea>
        </div>

        <div class="mb-3">
            <label for="office_address" class="form-label">Office Address</label>
            <input type="text" class="form-control" name="office_address" value="<%= contact_info.office_address %>" required>
        </div>

        <div class="mb-3">
            <label for="mobile_number" class="form-label">Mobile Number</label>
            <input type="text" class="form-control" name="mobile_number" value="<%= contact_info.mobile_number %>" required>
        </div>

        <div class="mb-3">
            <label for="email_address" class="form-label">Email Address</label>
            <input type="email" class="form-control" name="email_address" value="<%= contact_info.email_address %>" required>
        </div>

        <button class="btn btn-lg btn-primary" type="submit">Update Contact</button>
    </form>
</div>

<%- include("footer.ejs") %>
