<%-include("navbar.ejs"); %>
<div class="row">
<div class="col-12">
	<h1>Welcome</h1>
	<form action="/admin/update_package_slider" method="post" enctype="multipart/form-data">
		<div class="container">
			<h1 class=" text-center p-3">Update Package Slider</h1>
			<div class="row">
                <div class="col-md-12 mb-3" >
                    <input type="hidden" name="package_slider_id" class="form-control" value="<%- package_slider.package_slider_id %>">
                </div>
				<div class="col-md-6 mb-3">
					Slider Image 1
					<input type="file" name="slider_image1" class="form-control">   
				</div>
                <div class="col-md-6 mb-3">
                    <img src="/admin_assets/package_img/<%- package_slider.slider_image1 %>" width="100px">
                </div>

                <div class="col-md-6 mb-3">
					Slider Image 2
					<input type="file" name="slider_image2" class="form-control">   
				</div>
                <div class="col-md-6 mb-3">
                    <img src="/admin_assets/package_img/<%- package_slider.slider_image2 %>" width="100px">
                </div>

                <div class="col-md-6 mb-3">
					Slider Image 3
					<input type="file" name="slider_image3" class="form-control">   
				</div>
                <div class="col-md-6 mb-3">
                    <img src="/admin_assets/package_img/<%- package_slider.slider_image3 %>" width="100px">
                </div>

				<div class="col-md-12 mb-3 text-center ">
					<button class="btn  btn-primary">Update Details</button>  
				</div>
                
			</div>
		</div> 
	</form>
 </div>
</div>
<%-include("footer.ejs"); %>
