<%- include("navbar.ejs"); %>


<div class="container-fluid bg-primary py-5 mb-5 hero-header">
    
        <div class="row justify-content-center py-5">
            <div class="col-lg-10 pt-lg-5 mt-lg-5 text-center">
                <h1 class="display-3 text-white mb-3 animated slideInDown">Enjoy Your Vacation With Us</h1>
                <p class="fs-4 text-white mb-4 animated slideInDown">Tempor erat elitr rebum at clita diam amet diam et eos erat ipsum lorem sit</p>
                <div class="search-box position-relative w-90 mx-auto animated slideInDown form-control border-0 rounded-pill" style="display: flex; height: 70px;">
                    <input type="text" id="from" class="form-control" placeholder="From"  style="float: left;border: none;padding: 5px; background-color: #e9ecef;margin: 5px; width: 25%;">
                    <i class="bi bi-bus-front-fill" style="font-size: 20px; padding: 5px; margin-top: 12px; color: black;"></i>
                    <div class="line" style="width: 2px ; height: 60px ; background-color: #86b817"></div>
                    <input type="text" id="to" class="form-control" placeholder="To" style="float: left;border: none;padding: 5px; background-color: #e9ecef;margin: 5px;width: 25%; ">
                       <i class="bi bi-bus-front-fill" style="font-size: 20px; padding: 5px; margin-top: 12px; color: black;"></i>
                    <div class="line" style="width: 2px ; height: 60px ; background-color: #86b817"></div>
                    <input type="date" id="date" class="form-control"  style="float: left;border: none;padding: 5px; background-color: #e9ecef;margin: 5px;width: 25%; ">

                    <button  class="text-dark btn position-absolute" id="search"    style="float: left; width: 10%; background-color: #86b817; 
                    margin-left: 91%; height: 70px; 
                    border-top-right-radius: 50px; border-bottom-right-radius: 50px;">Search Buses</button>
                </div>
                
                <!-- <div class="bus-list" id="bus-list">
                    <div class="bus-item" data-from="Mumbai" data-to="Pune">Bus from Mumbai to Pune - 10:00 AM</div>
                    <div class="bus-item" data-from="Delhi" data-to="Jaipur">Bus from Delhi to Jaipur - 12:00 PM</div>
                    <div class="bus-item" data-from="Bangalore" data-to="Chennai">Bus from Bangalore to Chennai - 3:00 PM</div>
                    <div class="bus-item" data-from="Mumbai" data-to="Delhi">Bus from Mumbai to Delhi - 6:00 PM</div>
                </div> -->
            </div>
        </div>
    </div>


    <script>
        $(document).ready(function() {
            $('#search').click(function() {
                var from = $('#from').val().trim();
                var to = $('#to').val().trim();
                if (from !== "" && to !== "") {
                    window.location.href = "/book_bus?from=" + encodeURIComponent(from) + "&to=" + encodeURIComponent(to);
                } else {
                    alert("Please enter both From and To locations.");
                }
            });
        });
    </script>
    <!-- About Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-5">
              

                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s" style="min-height: 400px;">
                    <div class="position-relative h-100">
                        <img class="img-fluid position-absolute w-100 h-100" src="" alt="" style="object-fit: cover;">
                    </div>
                </div>
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                    <h6 class="section-title bg-white text-start text-primary pe-3">About Us</h6>
                    <h1 class="mb-4">Welcome to <span class="text-primary">Tourist</span></h1>
                    <p class="mb-4"> </p>
                    <div class="row gy-2 gx-4 mb-4">
                        <div class="col-sm-6">
                            <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>First Class Flights</p>
                        </div>
                        <div class="col-sm-6">
                            <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Handpicked Hotels</p>
                        </div>
                        <div class="col-sm-6">
                            <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>5 Star Accommodations</p>
                        </div>
                        <div class="col-sm-6">
                            <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Latest Model Vehicles</p>
                        </div>
                        <div class="col-sm-6">
                            <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>150 Premium City Tours</p>
                        </div>
                        <div class="col-sm-6">
                            <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>24/7 Service</p>
                        </div>
                    </div>
                    <a class="btn btn-primary py-3 px-5 mt-2" href="">Read More</a>
                </div>
            
            </div>
        </div>
    </div>
    <!-- About End -->


    <!-- Service Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                <h6 class="section-title bg-white text-center text-primary px-3">Services</h6>
                <h1 class="mb-5">Our Services</h1>
            </div>
            <div class="row g-4">

            
                  
             <% service_card_info.map(function(row, i) { %>
                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="service-item rounded pt-3">
                        <div class="p-4">
                            <!-- <i class="fa fa-3x fa-globe text-primary mb-4"></i> -->
                            <img src="/user_assests/img/bus.gif" alt="" style="width: 100px; height: 100px; border-radius: 50%; padding: 5px;">
                            <!-- <h5>WorldWide Tours</h5>
                            <p>Diam elitr kasd sed at elitr sed ipsum justo dolor sed clita amet diam</p> -->
                            <h5><%= row.service_card_title %></h5>
                            <p><%= row.service_card_description %></p>
                        </div>
                    </div>
                </div>
                <% }) %> 
            
            </div>
        </div>
    </div>
    <!-- Service End -->


    <!-- Destination Start -->
    <div class="container-xxl py-5 destination">
        <div class="container">
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                <h6 class="section-title bg-white text-center text-primary px-3">Destination</h6>
                <h1 class="mb-5">Popular Destination</h1>
            </div>
            <div class="row g-3">
                <div class="col-lg-7 col-md-6">
                    <div class="row g-3">
                        <div class="col-lg-12 col-md-12 wow zoomIn" data-wow-delay="0.1s">
                            <a class="position-relative d-block overflow-hidden" href="">
                                <img class="img-fluid" src="/user_assests/img/mountain.jpg" alt="" style="width: 100%;">
                                <div class="bg-white text-danger fw-bold position-absolute top-0 start-0 m-3 py-1 px-2">30% OFF</div>
                                <div class="bg-white text-primary fw-bold position-absolute bottom-0 end-0 m-3 py-1 px-2">Ujjain</div>
                            </a>
                        </div>
                        <div class="col-lg-6 col-md-12 wow zoomIn" data-wow-delay="0.3s">
                            <a class="position-relative d-block overflow-hidden" href="">
                                <img class="img-fluid" src="/user_assests/img/ambarnath-2.jpg" alt="">
                                <div class="bg-white text-danger fw-bold position-absolute top-0 start-0 m-3 py-1 px-2">25% OFF</div>
                                <div class="bg-white text-primary fw-bold position-absolute bottom-0 end-0 m-3 py-1 px-2">Kedharnath</div>
                            </a>
                        </div>
                        <div class="col-lg-6 col-md-12 wow zoomIn" data-wow-delay="0.5s">
                            <a class="position-relative d-block overflow-hidden" href="">
                                <img class="img-fluid" src="/user_assests/img/ambarnath-3.jpg" alt="">
                                <div class="bg-white text-danger fw-bold position-absolute top-0 start-0 m-3 py-1 px-2">35% OFF</div>
                                <div class="bg-white text-primary fw-bold position-absolute bottom-0 end-0 m-3 py-1 px-2">Ambarnath</div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 col-md-6 wow zoomIn" data-wow-delay="0.7s" style="min-height: 350px;">
                    <a class="position-relative d-block h-100 overflow-hidden" href="">
                        <img class="img-fluid position-absolute w-100 h-100" src="/user_assests/img/kashmir-1.jpg" alt="" style="object-fit: cover;">
                        <div class="bg-white text-danger fw-bold position-absolute top-0 start-0 m-3 py-1 px-2">20% OFF</div>
                        <div class="bg-white text-primary fw-bold position-absolute bottom-0 end-0 m-3 py-1 px-2">Kashmir</div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- Destination Start -->


    <!-- Package Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                <h6 class="section-title bg-white text-center text-primary px-3">Packages</h6>
                <h1 class="mb-5">Awesome Packages</h1>
            </div>
            
            <div class="row g-4 justify-content-center">
                <% package_details.forEach((row, i) => { %>

                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                        <div class="package-item">
                            
                            <div class="overflow-hidden">
                                <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
                                    <div class="carousel-inner">
                                        <div class="carousel-item active" data-bs-interval="1500">
                                            <img src="/admin_assets/package_img/<%= row.slider_image1 %>" class="d-block w-100" alt="...">
                                        </div>
                                        <div class="carousel-item" data-bs-interval="1500">
                                            <img src="/admin_assets/package_img/<%= row.slider_image2 %>" class="d-block w-100" alt="...">
                                        </div>
                                        <div class="carousel-item" data-bs-interval="1500">
                                            <img src="/admin_assets/package_img/<%= row.slider_image3 %>" class="d-block w-100" alt="...">
                                        </div>
                                    </div>
                                </div>          
                            </div>
                                
                            <div class="d-flex border-bottom">
                                
                                <small class="flex-fill text-center border-end py-2">
                                    <i class="fa fa-map-marker-alt text-primary me-2"></i><%= row.package_location %>
                                </small>
                                <small class="flex-fill text-center border-end py-2">
                                    <i class="fa fa-calendar-alt text-primary me-2"></i><%= row.package_days %> days
                                </small>
                                <small class="flex-fill text-center py-2">
                                    <i class="fa fa-user text-primary me-2"></i><%= row.package_person %> Person
                                </small>
                            </div>
                            <div class="text-center p-4">
                                <h3 class="mb-0"> ₹ <%= row.package_price %></h3>
                                <div class="mb-3">
                                    <small class="fa fa-star text-primary"></small>
                                    <small class="fa fa-star text-primary"></small>
                                    <small class="fa fa-star text-primary"></small>
                                    <small class="fa fa-star text-primary"></small>
                                    <small class="fa fa-star text-primary"></small>
                                </div>
                                <p><%= row.package_desc %></p>
                                <div class="d-flex justify-content-center mb-2">
                                    <a href="#" class="btn btn-sm btn-primary px-3 border-end" data-bs-toggle="modal" data-bs-target="#tripModal" style="border-radius: 30px 0 0 30px;">Read More</a>
                                    <a href="#booking-section" class="btn btn-sm btn-primary px-3" style="border-radius: 0 30px 30px 0;">Book Now</a>
                                </div>
                          
                            </div>        
                        </div>
                    </div>
                    <% }) %>    
               
            </div>
        </div>
    </div>
    <!-- Package End -->


    <!-- Booking Start -->
    <div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
        <div class="container">
            <div class="booking p-5">
                <div class="row g-5 align-items-center">
                    <div class="col-md-6 text-white">
                        <h6 class="text-white text-uppercase">Booking</h6>
                        <h1 class="text-white mb-4">Online Booking</h1>
                        <p class="mb-4">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu diam amet diam et eos. Clita erat ipsum et lorem et sit.</p>
                        <p class="mb-4">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu diam amet diam et eos. Clita erat ipsum et lorem et sit, sed stet lorem sit clita duo justo magna dolore erat amet</p>
                        <a class="btn btn-outline-light py-3 px-5 mt-2" href="">Read More</a>
                    </div>
                    <div class="col-md-6">
                        <h1 class="text-white mb-4">Book A Tour</h1>
                        <form method="post" action="/book_tour">
                            <div class="row g-3">
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <input type="text" class="form-control bg-transparent" name="name" id="name"  placeholder="Your Name">
                                        <label for="name">Your Name</label>
                                    </div>  
                                </div>
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <input type="email" class="form-control bg-transparent" name="user_name"  id="email" placeholder="Your Email">
                                        <label for="email">Your Email</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-floating date" id="date3" data-target-input="nearest">
                                        <input type="text" class="form-control bg-transparent datetimepicker-input" name="date_time" id="datetime" placeholder="Date & Time" data-target="#date3" data-toggle="datetimepicker" />
                                        <label for="datetime">Date & Time</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <input type="text" class="form-control bg-transparent" name="destnation" placeholder="Date & Time" data-target="#date3"  />
                                        <label for="destination">Destination</label>
                                      
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-floating">
                                        <textarea class="form-control bg-transparent" name="special_request" placeholder="Special Request" id="message" style="height: 100px"></textarea>
                                        <label for="message">Special Request</label>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <button class="btn btn-outline-light w-100 py-3" type="submit">Book Now</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Booking Start -->
  


    <!-- Process Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center pb-4 wow fadeInUp" data-wow-delay="0.1s">
                <h6 class="section-title bg-white text-center text-primary px-3">Process</h6>
                <h1 class="mb-5">3 Easy Steps</h1>
            </div>
            <div class="row gy-5 gx-4 justify-content-center">
                <div class="col-lg-4 col-sm-6 text-center pt-4 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="position-relative border border-primary pt-5 pb-4 px-4">
                        <div class="d-inline-flex align-items-center justify-content-center bg-primary rounded-circle position-absolute top-0 start-50 translate-middle shadow" style="width: 100px; height: 100px;">
                            <i class="fa fa-globe fa-3x text-white"></i>
                        </div>
                        <h5 class="mt-4">Choose A Destination</h5>
                        <hr class="w-25 mx-auto bg-primary mb-1">
                        <hr class="w-50 mx-auto bg-primary mt-0">
                        <p class="mb-0">Tempor erat elitr rebum clita dolor diam ipsum sit diam amet diam eos erat ipsum et lorem et sit sed stet lorem sit</p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 text-center pt-4 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="position-relative border border-primary pt-5 pb-4 px-4">
                        <div class="d-inline-flex align-items-center justify-content-center bg-primary rounded-circle position-absolute top-0 start-50 translate-middle shadow" style="width: 100px; height: 100px;">
                            <i class="fa fa-dollar-sign fa-3x text-white"></i>
                        </div>
                        <h5 class="mt-4">Pay Online</h5>
                        <hr class="w-25 mx-auto bg-primary mb-1">
                        <hr class="w-50 mx-auto bg-primary mt-0">
                        <p class="mb-0">Tempor erat elitr rebum clita dolor diam ipsum sit diam amet diam eos erat ipsum et lorem et sit sed stet lorem sit</p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 text-center pt-4 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="position-relative border border-primary pt-5 pb-4 px-4">
                        <div class="d-inline-flex align-items-center justify-content-center bg-primary rounded-circle position-absolute top-0 start-50 translate-middle shadow" style="width: 100px; height: 100px;">
                            <i class="fa fa-plane fa-3x text-white"></i>
                        </div>
                        <h5 class="mt-4">Fly Today</h5>
                        <hr class="w-25 mx-auto bg-primary mb-1">
                        <hr class="w-50 mx-auto bg-primary mt-0">
                        <p class="mb-0">Tempor erat elitr rebum clita dolor diam ipsum sit diam amet diam eos erat ipsum et lorem et sit sed stet lorem sit</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Process Start -->


    <!-- Team Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                <h6 class="section-title bg-white text-center text-primary px-3">Travel Guide</h6>
                <h1 class="mb-5">Meet Our Guide</h1>
            </div>
            <div class="row g-4">
                
                <% tour_guide.map((row,i)=>{ %>
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                            <div class="team-item">
                                <div class="overflow-hidden">
                                    <img class="img-fluid" src="/admin_assets/about_guide_img/<%- row.guide_img %>" alt="">
                                </div>
                                <div class="position-relative d-flex justify-content-center" style="margin-top: -19px;">
                                    <a class="btn btn-square mx-1" href="<%- row.facebook_link %>"><i class="fab fa-facebook-f"></i></a>
                                    <a class="btn btn-square mx-1" href="<%- row.whatsapp_link %>"><i class="fab fa-whatsapp"></i></a>
                                    <a class="btn btn-square mx-1" href="<%- row.instagram_link %>"><i class="fab fa-instagram"></i></a>
                                </div>
                                <div class="text-center p-4">
                                    <h5 class="mb-0"><%- row.guide_name %></h5>
                                    <small><%- row.guide_experience %></small>
                                </div>
                            </div>
                        </div>
                        <% }) %>
                <!-- <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="team-item">
                        <div class="overflow-hidden">
                            <img class="img-fluid" src="/user_assests/img/team-2.jpg" alt="">
                        </div>
                        <div class="position-relative d-flex justify-content-center" style="margin-top: -19px;">
                            <a class="btn btn-square mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-square mx-1" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-square mx-1" href=""><i class="fab fa-instagram"></i></a>
                        </div>
                        <div class="text-center p-4">
                            <h5 class="mb-0">Full Name</h5>
                            <small>Designation</small>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="team-item">
                        <div class="overflow-hidden">
                            <img class="img-fluid" src="/user_assests/img/team-3.jpg" alt="">
                        </div>
                        <div class="position-relative d-flex justify-content-center" style="margin-top: -19px;">
                            <a class="btn btn-square mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-square mx-1" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-square mx-1" href=""><i class="fab fa-instagram"></i></a>
                        </div>
                        <div class="text-center p-4">
                            <h5 class="mb-0">Full Name</h5>
                            <small>Designation</small>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
                    <div class="team-item">
                        <div class="overflow-hidden">
                            <img class="img-fluid" src="/user_assests/img/team-4.jpg" alt="">
                        </div>
                        <div class="position-relative d-flex justify-content-center" style="margin-top: -19px;">
                            <a class="btn btn-square mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-square mx-1" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-square mx-1" href=""><i class="fab fa-instagram"></i></a>
                        </div>
                        <div class="text-center p-4">
                            <h5 class="mb-0">Full Name</h5>
                            <small>Designation</small>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
    <!-- Team End -->


    <!-- Testimonial Start -->
    <div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
        <div class="container">
            <div class="text-center">
                <h6 class="section-title bg-white text-center text-primary px-3">Testimonial</h6>
                <h1 class="mb-5">Our Clients Say!!!</h1>
            </div>
            <div class="owl-carousel testimonial-carousel position-relative">
                <% client_info.map(function(row, i) { %>
                <div class="testimonial-item bg-white text-center border p-4">
                    <img class="bg-white rounded-circle shadow p-1 mx-auto mb-3" src="/admin_assets/client_review/<%=row.client_image %>" style="width: 80px; height: 80px;">
                    <h5 class="mb-0"><%= row.client_name %></h5>
                    <p><%= row.client_location %></p>
                    <p class="mb-0"><%= row.client_description %></p>
               
                    <!-- <h5 class="mb-0">John Doe</h5>
                    <p>New York, USA</p>
                    <p class="mb-0">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit diam amet diam et eos. Clita erat ipsum et lorem et sit.</p>
                -->
                </div>
                <% }) %>
                <!-- <div class="testimonial-item bg-white text-center border p-4">
                    <img class="bg-white rounded-circle shadow p-1 mx-auto mb-3" src="/user_assests/img/testimonial-2.jpg" style="width: 80px; height: 80px;">
                    <h5 class="mb-0">John Doe</h5>
                    <p>New York, USA</p>
                    <p class="mt-2 mb-0">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit diam amet diam et eos. Clita erat ipsum et lorem et sit.</p>
                </div>
                <div class="testimonial-item bg-white text-center border p-4">
                    <img class="bg-white rounded-circle shadow p-1 mx-auto mb-3" src="/user_assests/img/testimonial-3.jpg" style="width: 80px; height: 80px;">
                    <h5 class="mb-0">John Doe</h5>
                    <p>New York, USA</p>
                    <p class="mt-2 mb-0">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit diam amet diam et eos. Clita erat ipsum et lorem et sit.</p>
                </div>
                <div class="testimonial-item bg-white text-center border p-4">
                    <img class="bg-white rounded-circle shadow p-1 mx-auto mb-3" src="/user_assests/img/testimonial-4.jpg" style="width: 80px; height: 80px;">
                    <h5 class="mb-0">John Doe</h5>
                    <p>New York, USA</p>
                    <p class="mt-2 mb-0">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit diam amet diam et eos. Clita erat ipsum et lorem et sit.</p>
                </div> -->
            </div>
        </div>
    </div>
    <div class="faq-container" id="faq-section">
        <h2>Frequently Asked Questions</h2>
        <% faq_info.map(function(row, i) { %>
        <div class="faq-item">
            <div class="faq-question"><%= row.faq_question %></div>
            <div class="faq-answer"><%= row.faq_answer %></div>
      
            <!-- <div class="faq-question">What services does your heart hospital offer?</div>
            <div class="faq-answer">We offer preventive care, diagnostic testing, interventional procedures, heart surgery, and rehabilitation programs.</div> -->
        </div>
        <% }) %>
        <!-- <div class="faq-item">
            <div class="faq-question">Do I need a referral to see a cardiologist?</div>
            <div class="faq-answer">It depends on your insurance provider and medical condition. Some patients can schedule directly, while others may need a referral.</div>
      
        </div>
        <div class="faq-item">
            <div class="faq-question">What should I do in case of a heart emergency?</div>
            <div class="faq-answer">Call 911 immediately or visit the nearest emergency room. Do not drive yourself if experiencing severe chest pain, shortness of breath, or dizziness.</div>
        </div>
        <div class="faq-item">
            <div class="faq-question">How can I prevent heart disease?</div>
            <div class="faq-answer">Maintain a healthy diet, exercise regularly, manage stress, avoid smoking, and have regular heart check-ups.</div>
        </div> -->
    </div>
    <script>
        // Toggle active class on FAQ items when question is clicked
        document.querySelectorAll('.faq-question').forEach(question => {
          question.addEventListener('click', () => {
            question.parentElement.classList.toggle('active');
          });
        });
      </script>
      <style>.faq-container {
        width: 90%;
        margin: 50px auto;
        background: #fff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    }
    
    .faq-container h2{
        text-align: center;
        color:rgb(0, 0, 86) ;
        font-size:40px;
        font-weight: bold;
        
    }
    
    .faq-item {
        border-bottom: 1px solid #ddd;
        padding: 15px 0;
    }
    
    .faq-question {
        font-size: 18px;
        font-weight: bold;
        cursor: pointer;
        position: relative;
        padding-right: 30px;
        color: rgb(0, 0, 86) ;
    }
    
    .faq-question::after {
        content: "+";
        position: absolute;
        right: 0;
        font-size: 22px;
        font-weight: bold;
    }
    
    .faq-answer {
        display: none;
        margin-top: 10px;
        font-size: 16px;
        color: #444;
    }
    
    .faq-item.active .faq-answer {
        display: block;
    }
    
    .faq-item.active .faq-question::after {
        content: "-";
    }
    
    </style>


    <%- include("footer.ejs"); %>